{% extends '../layout.html' %}

{% block head-css%}
    <!-- Custom styles for this template -->
    <link href="css/dashbaord.css" rel="stylesheet">
{% endblock %}
{% block head-js%}
{% endblock %}

{% block content %}
     <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Dashboard</a></li>
            <li><a href="#">Account - Timeline</a></li>
            <li><a href="#">Something else</a></li>
            <li><a href="#">Export</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <div id="client-accounts" class="row">
			  <div class="panel panel-info">
			  	  <div class="panel-heading">
						Accounts 
				  </div>
				  <div class="panel-body">
			          <div class="table-responsive">
			            <table class="table table-striped">
			              <thead>
			                <tr>
			                  <th>Account Name	</th>
			                  <th>Account Type	</th>
			                  <th>Account Owner </th>
			                </tr>
			              </thead>
						
			              <tbody>
							{% for accountdetails in accounts %}
			                <tr>
			                  <td>
			                  		<a href="/accounttimeline?accountid={{ accountdetails._fields.id }}">	{{ accountdetails._fields.name}} </a> 
			                  </td>
			                  <td>
									{% if accountdetails._fields.type %} 
										{{ accountdetails._fields.type }}								
									{% endif %}
			                  </td>
			                  <td>
									{% if accountdetails._fields.owner.Name %} 
										{{ accountdetails._fields.owner.Name }}								
									{% endif %}
			                  </td>
			                </tr>
							{% endfor %}
			              </tbody>
			            </table>
	
			        </div>
		          </div>
		 	  	</div>
	    	</div>
	       </div>
	    </div>   
    </div>
{% endblock %}

{% block bottom-js%}
{% endblock %}
